<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 상세보기</title>
    <link rel="stylesheet" th:href="@{/css/view.css}">
</head>
<body>
    <div class="article-container">
        <h1 th:text="${post.title}">게시글 제목</h1>
        
        <div class="article-meta">
            <span th:text="${post.writer}">작성자</span>
            <span th:text="${post.createdAt}">작성일</span>
        </div>

        <div class="article-content" th:text="${post.content}">게시글 내용</div>
        
        <a href="/" class="back-link">뒤로 가기</a>
    </div>
</body>
</html>
